*{
    margin: 0;
    padding: 0;
}

body{
    background: #E5E5E5;
}
.wrapper{
    width: 960px;
    margin: 15px auto;
}

#header{
    background: #1C3180;
}
#header h1{
    font-family: roboto;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
}
#banner{
    background: #fff;
    padding: 35px 70px;
}
#banner img{
    width: 100%;
}
#banner h2{
    font-family: roboto;
    font-size: 32px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
#banner p{
    font-family: roboto;
    font-size: 17px;
    color: #000;
    font-weight: 400;
    margin-top: 20px;;
}
#banner span{
color: #FE630E;
text-decoration: underline;
font-weight: bold;
}
#service_area{
    background: #1C3180;
    padding: 40px 70px;
}
#service_area span{
    color: #FE630E;
    text-decoration: underline;
}
#service_area p{
    font-family: roboto;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
}
#service_area h3{
    font-family: roboto;
    font-size: 27px;
    color: #FE630E;
    font-weight: 700;
    margin-bottom: 25px;
}
#service_area a {
    font-family: roboto;
    font-size: 16px;
    background-color: #fff;
    color: #1C3180;
    font-weight: 700;
    padding: 10px 18px;
    text-decoration: none;
    display: inline-block;
    margin: 16px 10px 0 0;
    transition: all linear .5s;
}
#service_area a:hover{
    background: #FE630E;
    color: #fff;
}